@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3b82f6;
  --color-secondary: #60a5fa;
  --color-accent: #1d4ed8;
  --color-neutral: #f3f4f6;
  --color-base-100: #ffffff;
  --color-info: #0ea5e9;
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #60a5fa;
  --color-secondary: #3b82f6;
  --color-accent: #1e40af;
  --color-neutral: #1f2937;
  --color-base-100: #111827;
  --color-info: #38bdf8;
  --color-success: #22d3ee;
  --color-warning: #fcd34d;
  --color-error: #f87171;
}

* {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
